[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chalice = "*"
boto3 = "*"
pytest = "*"
pytest-chalice = "*"
moto = "*"

[dev-packages]
pytest = "*"
pytest-chalice = "*"
moto = "*"

[requires]
python_version = "3.8"
